.yellow-bg{
  background-color: yellow;
  text-decoration: underline; 
}

.gray-bg{
    background-color: gray;
}

#year{
    color: red;
    font-style: italic;
    font-weight: bold;
}

table,td{
    border:1px solid black;
}

tr:hover{
    background-color: aqua;
}